body, html {
    margin: 0;
}

body{
    /* background: linear-gradient(#1B1B1B, #141414)!important; */
    background-color: #1B1B1B!important;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}

.box {
    height: 100vh;
    margin: 0 auto;
    color: white;
}

.logo_in_nav {
    width: 200px;
}

.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(1 20 26 / 50%));
    box-shadow: black 0px 19px 20px -20px;
}

.header{
    /* background: url(/accets/img/header_bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
}

/* анимация кнопок в header */ 

.animation a {
    display: inline-block!important;
    line-height: 1!important;
    text-decoration: none!important; /* Убираем подчеркивание */
    cursor: pointer!important;
}
.animation a:after {
    background-color: rgb(230, 143, 36)!important; /* Цвет линии при наведении на нее курсора мыши */
    display: block!important;
    content: "" !important;
    margin-top: 5px;
    height: 2px!important; /* Высота линии */
    width: 0%!important;
    -webkit-transition: width .28s ease-in-out!important;
    -moz--transition: width .28s ease-in-out!important;
    transition: width .28s ease-in-out!important;
}
.animation a:hover:after,
.animation a:focus:after {
    width: 100%!important;
}



.bg-light {
    background-color: rgba(17, 17, 17, 0.4)!important;
}

.nav-link{
    font-size: 17px;
    color: white!important;
}

.fixed-top {
    left: 100px!important;
    right: 100px!important;
    top: 15px!important;
    border-radius: 15px;
}

.logo {
    width: 700px;
    display: block;
    padding-top: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main_text {
    color: rgb(62, 239, 212); 
    
}

.mini_text_boxs {
    height: 35px;
    width: 600px;
    margin-top: 120px;
}

.mini_text_box {
    width: 50%;
    height: 35px;
    float: left;
    margin-top: 30px;
}

.mini_text_box p {
    color: rgb(69, 244, 238);
    width: 100%!important;
}

.mini_text_box div{
    background-color: coral;
    width: 30px;
    height: 30px;
    border-radius: 10px 0px;
    float: left;
    margin-right: 20px;
}

.first_box {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 200px;
}

.first_imgs {
    margin-top: 50px;
    position: relative;
    width: 600px;
}

.between {
    width: 200px;
    height: auto;
}

.first_img {
    position: absolute;
    width: 470px;
    height: 440px;
    border-radius: 50px 0px;
}

.text_box {
    display: flex;
    flex-direction: column;
}

.text_box p {
    width: 600px;
    font-weight: 500;
    font-size: 17px;
}

.text_box h1 {
    margin-bottom: 70px;
}

.vocum {
    width: 50px;
    vertical-align: sub;
    float: left;
    margin-right: 15px;
}

@media screen and (max-width: 980px) {
    .logo{
        width: 80%;
    }

    .logo-nav {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) {
    .logo_in_nav{
        width: 80px;
    }
}

@media screen and (max-width: 380px) {
    .logo_in_nav{
        width: 50px;
    }
}

@media screen and (min-width: 1200px) {
    @media screen and (max-width: 1900px) {
        .logo {
            padding-top: 30%;
        }
    } 
}