@font-face {
    font-family: raleway_f;
    src: url(/accets/fonts/PaytoneOne-Regular.ttf);
}

body{
    background-color: #1B1B1B;
    margin: 0 auto;
    /* font-family: raleway_f, sans-serif; */
    font-family: 'Raleway', sans-serif;
}

.header{
    /* background: url(/accets/img/header_bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.animation a {
    display: inline-block!important;
    line-height: 1!important;
    text-decoration: none!important; /* Убираем подчеркивание */
    cursor: pointer!important;
}
.animation a:after {
    background-color: #f66d52!important; /* Цвет линии при наведении на нее курсора мыши */
    display: block!important;
    content: "" !important;
    margin-top: 10px;
    height: 3px!important; /* Высота линии */
    width: 0%!important;
    -webkit-transition: width .2s ease-in-out!important;
    -moz--transition: width .2s ease-in-out!important;
    transition: width .2s ease-in-out!important;
}
.animation a:hover:after,
.animation a:focus:after {
    width: 100%!important;
}


.bg-light {
    background-color: rgba(17, 17, 17, 0.4)!important;
}

.nav-link{
    font-size: 17px;
    color: white!important;
}

.nav-link:hover{
    color: rgb(36, 182, 212)!important;
    text-shadow: rgb(48, 220, 255) 0px 0px 7px;
    transition: all 0.2s;
}

.fixed-top {
    left: 100px!important;
    right: 100px!important;
    top: 15px!important;
}


.main_text {
    padding-top: 15%;
}

.back {

}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #164d4a;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #00847d;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #00bdad;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #00bdb4;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #fd317f;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}